spring:
  datasource:
    url: jdbc:h2:mem:librarydb;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:
  jdbc:
    initialize-schema: always
  h2:
    console:
      enabled: true

app:
  questions-resource: questions.csv
  passing-score: 3